.headline-main {
    font-family: 'Crimson Text', serif;
    text-align: left;
    margin-left: 5%;
}

.btn-play {
    background-color: #97caef;
    border-color: #97caef;
    transition: all 0.5s ease;
    box-shadow: 0 0 5px gray;
}

.btn-play:hover {
    background-color: #ee4c7c;
    border-color: #ee4c7c;
    cursor: pointer;
}
