@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.answer-box {
    width: 300px;
    height: 200px;
    padding: 50px;
    color: #17252a;
    border-radius: 15px;
    margin-top: 50px;
    transition: all 0.5s ease;
    font-size: xx-large;
    font-family: 'Crimson Text', serif;
    text-align: center;
    box-shadow: 0 0 5px gray;
}

.answer-box:hover, .answer-box-selected {
    background-color: #3aafa9;
    color: white;
    cursor: pointer;
}

.answer-box-neutral {
    background-color: #def2f1;
}

.answer-correct {
    background-color: lawngreen;
}

.answer-correct:hover {
    background-color: lawngreen;
}

.answer-incorrect {
    background-color: red;
}

.answer-incorrect:hover {
    background-color: red;
}

.float-left {
    float: left;
    /*animation: 1.2s ease-in-out 0s 1 slideInFromLeft;*/
    margin-left: 12%;
}

.float-right {
    float: right;
    /*animation: 1.2s ease-in-out 0s 1 slideInFromRight;*/
    margin-right: 12%;
}

.headline {
    font-family: 'Crimson Text', serif;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
}

.question-small {
    font-size: 28px;
}

.container-question {
    margin-left: -15px;
}

.progress-width {
    width: 50%;
}

.progress-bar-width {
    width: 0%;
}

.btn-close {
    color: #17252a;
    font-size: 36px;
    padding-bottom: 35px;
    margin-top: -35px;
}

.btn-close:hover {
    color: #3aafa9;
}

.btn-next {
    margin: 0 auto;
    margin-top: 125px;
    width: 10%;
    height: 11px;
    font-size: x-large;
    padding-top: 15px;
    border-radius: 5px;
}
