
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<div class="container container-outer">

    <div class="container" style="margin-left: -15px; text-align:center;">

        <div class="game-type">
            <h1 class="headline-main">Standard mode</h1>
            <div style=" margin-top:40px; margin-bottom:40px; ">
                <p class="stopwatch" style="font-size:24px; text-align:justify;">
                    Complete the set of <b>10</b> questions <b>as fast as possible</b> and beat the game by giving <b>correct</b> anwers. <b>Good luck!</b>
                </p>
                <div class="btn-group btn-group-justified">
                    <a href="/Quiz/Play/Standard" class="btn btn-default btn-lg btn-block btn-play">Play!</a>
                    <a href="/Quiz/Play/Standard" class="btn btn-default btn-lg btn-block btn-play">Jugar!</a>
                </div>              
            </div>
        </div>

        <div class="game-type">
            <h1 class="headline-main">Reverse mode</h1>
            <div style=" margin-top:40px; margin-bottom:40px; ">
                <p class="stopwatch" style="font-size:24px; text-align:justify;">
                    Complete the set of <b>10</b> questions <b>as fast as possible</b> and beat the game by giving <b>incorrect</b> anwers. <b>Good luck!</b>
                </p>
                <div class="btn-group btn-group-justified">
                    <a href="/Quiz/Play/Reverse" class="btn btn-default btn-lg btn-block btn-play">Play!</a>
                    <a href="/Quiz/Play/Reverse" class="btn btn-default btn-lg btn-block btn-play">Jugar!</a>
                </div>               
            </div>
        </div>

    </div>
</div>

